.projectContainer{
    margin: 0 auto;
    max-width: calc(100% - 5em);
    width: 70em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.projectContainer{
    width: 100%;
    margin-top: 30px;
}
.projectContainer>h1{
    margin-bottom:30px;
}

.tagContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subTagContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.resetButtonContainer{
    padding: 5px;
    width: 40px;
    height: 40px;
    margin:5px;
    background-color: var(--Accent);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.resetButton{
    background-color: #f2f2f2;
    border-radius: 5px;
}

.resetButton:active{
    background-color: #484848;
}
.projectItem{
    margin: 30px 10px;
    width: 100%;
    border-radius: 20px;
    align-items: center;
    padding: 20px;
    background-color: #ff897a;
    color: #fff;
    display: flex;
    max-width: 800px;
    flex-direction: row;
    box-shadow: 0 14px 32px rgb(25 28 31 / 8%), 0 8px 16px rgb(25 28 31 / 4%), 0 -1px 0 rgb(25 28 31 / 4%);
}
.projectItemPhoto {
    width:30vw;
    height: 30vh;
    position: relative;
  }
.projectItemPhoto .projectItemPhotoClass {
    width: 100%;
    height: 100%;
    position: relative !important;
    object-fit: cover; 
}
.projectItemInfo{
    padding: 10px 15px;
}
.pItemDescription{
    padding:3px;
}
.pItemTittle>h2{
    margin: 15px 0 10px;
}
/* ITEM INFO  */
.pItemTags{
    margin:10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}
.tagBox{
    margin: 3px;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 10px;
}

.pItemLinks{
    display: flex;  
}
.pItemLinks div:nth-child(2){
    margin-left: 20px;
}
.tagBoxFilter{
    cursor:pointer;
    position: relative;
    margin: 5px;
    
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 10px;
}
.filterSection{
    font-size:28px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.filterSectionContainer{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Search Section */
.searchInputContainer{
    padding: 5px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 14px 32px rgb(25 28 31 / 8%), 0 8px 16px rgb(25 28 31 / 4%), 0 -1px 0 rgb(25 28 31 / 4%);
    width: fit-content;
    display: flex;
}

.FilterSearchSection{
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
}
.searchInputContainerTmp{
    background-color: white;
    margin: 5px;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 10px
}

.searchInputContainerTmp:focus{
    outline:none;
    border:solid #c0c0c0;
}

.searchInputContainerTmp{
    border:solid #f2f2f2;
}
.searchTest{
    z-index: 1000;
}
.searchIcon{
    width: 25px;
    z-index: 1000;
}
.searchInput{
    width: 100%;
    border: none;
}
/* SMALL MOBILE */

@media (max-width: 320px){
    .projectContainer{
        width: 100%;
        height: 100%;
        }
    .pItemLinks{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .pItemLinks div:nth-child(2){
        margin-left: 0px;
    }
}
/* MOBILE */
@media (max-width: 425px) {
    
    .projectContainer{
        width: 100%;
        max-width: initial;
    }
    .projectItemPhoto{
        border-radius: 20px 20px 0px 0px;
        
    }
    .projectItem{
        width: initial;
        padding: 0px;
        margin:20px 20px;
        flex-direction: column;
    }
    
}

/* TABLET */
@media( max-width:768px){
    .projectItem{
        max-width: 500px;
        flex-direction: column;
    }
    .projectItemPhoto{
        width: 100%;
    }
}