.projectContainer{
    margin: 0 auto;
    max-width: calc(100% - 5em);
    width: 70em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.projectContainer{
    width: 100%;
    margin-top: 30px;
}
.projectItem{
    margin: 30px 10px;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    background-color: #ff897a;
    color: #fff;
    display: flex;
    max-width: 800px;
    flex-direction: row;
    box-shadow: 0 14px 32px rgb(25 28 31 / 8%), 0 8px 16px rgb(25 28 31 / 4%), 0 -1px 0 rgb(25 28 31 / 4%);
}
.projectItemPhoto{
    overflow: hidden;
    border-radius: 20px;
    align-self: center;
}
.projectItemInfo{
    padding: 10px 15px;
}
.pItemDescription{
    padding:3px;
}
.pItemTittle>h2{
    margin: 15px 0 10px;
}
/* ITEM INFO  */
.pItemTags{
    margin:10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}
.tagBox{
    margin: 3px;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 10px;
}

.pItemLinks{
    display: flex;  
}
.pItemLinks div:nth-child(2){
    margin-left: 20px;
}
.tagBoxFilter{
    cursor:pointer;
    position: relative;
    margin: 5px;
    
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 10px;
}
.filterSection{
    font-size:28px;
    display: flex;
    justify-content: flex-start;
}

.filterSectionContainer{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width: 425px) {

    .projectContainer{
        width: 100%;
        max-width: initial;
    }
    .projectItemPhoto{
        border-radius: 20px 20px 0px 0px;

    }
    .projectItem{
        width: initial;
        padding: 0px;
        margin:20px 20px;
        flex-direction: column;
    }
}