.imageContainer {
  box-shadow: var(--box-shadow2);
  height: 400px;
  border-radius: var(--border1);
  overflow: hidden;
  width: 100%;
  position: relative;

  background-color: var(--grey1);
}

.ImageHero{
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover; 
}
.heroContainer {
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex: 4 1;
  margin: 0 auto;
  max-width: calc(100% - 5em);
  width: 70em;
}

.contentLeft {
  padding-right: 20px;
  color: var(--h1-text-color);
  display: flex;
  max-width: 400px;
  flex-direction: column;
}

.contentLeft > h1 {
  margin: 10px 0px;
  font-size: var(--h1-text-sizeL);
}

.buttonGroup {
  display: flex;
  flex-direction: row;
}

/* RIGHT SECTION */
.contentRight {
  display: flex;
  width: 400px;
  flex-direction: column;
}

/* SHORTCUTSECTION */

.IconShortcutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.IconShortcutContainer > a {
  text-align: center;
  margin: 15px;
}

.subPhotoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ShortcutItem {
  text-align: center;
  margin: 15px;
  box-shadow: var(--box-shadow2);
}

.ShortcutItem > p {
  margin: 5px;
}

@media (max-width: 768px) {
  .heroContainer {
    padding: 50px 0px;
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .imageContainer {
    width: 345px;
    height: 345px;
    border-radius: var(--border1);
    overflow: hidden;
  }

  .contentLeft {
    padding: 0px 20px;
    width: 100%;
  }

  .contentLeft > h1 {
    font-size: var(--h1-text-sizeS);
  }

  .IconShortcutContainer {
    width: 100%;
    margin: 10px 25px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .IconShortcutContainer > a {
    text-align: center;
    margin: 5px;
  }

  .imageContainer {
    width: 100%;
  }

  .contentRight {
    width: 100%;
  }

  .ShortcutItem {
    text-align: center;
    margin: 5px;
  }

  .subPhotoSection {
    padding: 0 20px;
  }

  .contentLeft > h1 {
    margin: 0;
  }

  .heroContainer {
    max-width: initial;
    width: initial;
    padding: 10px 0;
    width: initial;
    margin: inherit;
    margin: 0px 5px;
    max-width: inherit;
  }

  .buttonGroup {
    justify-content: center;
  }
}

@media (max-width: 305px) {
  .buttonGroup {
    display: flex;
    justify-content: center;
  }

  .button {
    width: 100%;
  }
}
