
.ImageMock{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #E3E3E3;
}
.wrap{
    width: 100%;
}

.center{
    padding: 100px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 4 1;
    margin: 0 auto;
    max-width: calc(100% - 5em);
    width: 70em;
}
/* LEFT SECTION */
.txtSection{
    color:var(--txt-default);
    display: flex;
    max-width: 400px;
    flex-direction: column;
}
.buttonGroup{
    display: flex;
    flex-direction: row;
}

.button{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 16px;
    width: 150px;
    text-align: center;
    border: none;
    border-radius: 10px;
  }

/* RIGHT SECTION */
.PhotoSection{
    display: flex;
    max-width: 400px;
    flex-direction: column;
}

/* SHORTCUTSECTION */

.IconShortcutContainer{
    display: flex;
    justify-content: space-between;
}
.subPhotoSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ShortcutItem{
    text-align: center;
    margin: 15px;
}
.ShortcutItem>p{
    color:var(--txt-default);
    margin:5px;
}

@media (max-width: 768px) {
    .center{
        padding: 50px 0px;
        flex-direction: column;
    }

}
@media (max-width: 425px) {

    .ImageMock{
        width: 345px;
        height: 345px;
        border-radius: 20px;
        overflow: hidden;
    }
    .txtSection{
        width: 100%;
    }
    .IconShortcutContainer{
        flex-wrap: wrap;
    }
    .ImageMock{
        width: 100%;
        height: inherit;
    }
    .PhotoSection{
        width: 100%;
    }
    .center{
        width: initial;
        margin:inherit;
        margin:0px 20px;
        max-width: inherit;
    }
}

@media (max-width: 375px){

}

@media (max-width: 320px){


}