/* LOGO */

.LogoContainer {
  display: flex;
  align-items: center;
  width: 200px;
}
.LogoIcon {
  cursor: pointer;
  width: 25px;
  z-index: 100;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6aa7e8;
  border-radius: 2px;
}
.LogoCircle {
  border-radius: 100%;
  width: 65%;
  height: 65%;
  display: block;
}
.LogoText {
  z-index: 200;
  cursor: pointer;
  color: #6aa7e8;
  font-weight: 700;
  font-size: 20px;
  margin-left: 5px;
}
.LightLogo {
  box-shadow: 0 0 30px 2px var(--moon-color); /* middle magenta */
  background-color: var(--moon-color);
}

/* BUTTONS */

.buttonFilled {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: var(--accent);
  font-size: 16px;
  width: 150px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: var(--border2);
}
.buttonNoFill {
  color: var(--accent);
}

@media (max-width: 768px) {
  .LogoContainer {
    padding: 10px 20px;
  }
}
