//TEMPORAL
.margintop {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  //PLEASE CHANGE
  .LocationFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .map {
    width: 900px;
    height: 300px;
    box-shadow: var(--BGS1);
    border-radius: 26px;
  }
  .adresses {
    position: relative;
    top: -60px;
    display: flex;
    flex-direction: row;
  }
  .adress-item {
    position: relative;
    border-radius: 26px;
    box-shadow: var(--BGS1);
    margin: 10px 50px;
    background-color: white;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .numberLocation {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 60px;
    height: 60px;
    text-align: center;
    color: white;
    line-height: 60px;
    font-size: 26px;
  
    border-radius: 50%;
    background-color: var(--accent);
  }
  .inlineAdress {
    display: flex;
    flex-direction: row;
  }
  .iconLocation {
    width: 50px;
    height: 50px;
  }
  .inlineAdress {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 40px;
  }
  
  //CONTACTFORM
  
  .ContactBox {
    display: flex;
    flex-direction: row;
    flex: 4 1;
  }
  .ContactFormBox {
    flex: 3 1;
  }
  .InputContact {
    flex: 1 1;
  }
  
  form {
    margin: 0px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .tests {
    display: flex;
  
    flex-direction: column;
  }
  .textarea {
    width: 100%;
  }
  .tests > label,
  .textarea > label {
    color: black;
    display: block;
    font-size: 18px;
    margin: 20px 10px;
    font-weight: 600;
  }
  .textarea {
    font-weight: 600;
  
    margin: 20px 0px;
  }
  
  .textarea > textarea {
    resize: vertical;
    width: 100%;
    padding-top: 1em !important;
    min-height: 150px;
  }
  .tests input[type="text"],
  .textarea > textarea {
    background-color: #f8f8f8;
    border: solid 1px #e5e5e5;
    border-radius: 17 px;
    height: 3em;
  
    padding: 0 1em;
  }
  .em70 {
    width: 70em !important;
  }
  .ParagraphT {
    padding: 30px;
  }
  //contact info
  .ContactInfo-Item {
    width: 100%;
    margin: 15px 0px;
    align-items: center;
    display: inline-flex;
  }
  .InputContact {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .subInputContact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ContactIcon > img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 10px;
  }
  .ContactText {
    font-weight: 600;
  }
  //BUTTON
  #Sabutton {
    margin: 20px 0px !important;
  }