.contactContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-content: center;
  align-items: center;
}

.subContactContainer {
  margin: 0 auto;
  max-width: calc(100% - 5em);
  width: 70em;
  display: flex;
  gap: 150px;
  height: fit-content;
  justify-content: center;
  flex-grow: 1;
}

.contactBox {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  height: fit-content;
}

.contactBoxTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactBoxBoxTextSubContainer {
  color: var(--text-color-1);
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.contactBoxBoxTextSubContainer > h1 {
  font-size: 42px;
  margin: 10px 0px;
}

.contactBoxBoxTextSubContainer > p {
  font-size: 16px;
}

.iconsBox {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.formBox {
  background-color: var(--box-color);
  box-shadow: var(--box-shadow2);
  border-radius: var(--border2);
  display: flex;
  padding: 20px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.groupLabelInput {
  display: flex;
  flex-direction: column;
}

.formWrap {
  display: flex;
  flex-direction: column;
  margin: 4px 0px;
  width: 100%;
}

.formWrap > label {
  color: var(--text-color-1);
  font-size: 14px;
  margin: 5px 0px;
}

.formWrap > input {
  height: 40px;
  font-size: 16px;
  line-height: 28px;
  color: var(--text-color-1);
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  background-color: var(--contact-input);
  border: var(--border-input);
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
}

.formWrap > textarea {
  color: var(--text-color-1);
  width: 100%;
  min-height: 100px;
  padding: 8px 16px;
  font-family: "Noto Sans", sans-serif;

  font-size: 14px;
  border: unset;
  border-radius: 4px;
  resize: vertical;
  background-color: var(--contact-input);
  border: var(--border-input);
  outline-color: var(--accent);
}

.buttonForm {
  min-height: 40px;
  max-width: 150px;
  border: none;
  border-radius: var(--border2);
  color: #fff;
  font-size: 16px;
  background-color: var(--accent);
  margin: 10px 0px 0px 0px;
}

.iconComponent {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .subContactContainer {
    padding: 30px 0px;
    flex-direction: column;
    gap: 0px;
    align-items: center;
  }

  .contactBoxBoxTextSubContainer > h1 {
    font-size: var(--h1-text-sizeS);
    align-self: center;
  }

  .contactContainer {
    align-items: flex-start;
  }

  .contactBoxTextContainer {
    text-align: center;
    align-self: center;
    max-width: 350px;
    align-items: center;
  }
}
