.centerSection {
    margin: 0 auto;
    max-width: calc(100% - 5em);
    width: 50em;
}
.containerBlogPost{
    color:var(--h1-text-color);
    margin-top: 50px;
}
.imageBlogPost {
    border-radius: var(--border2);
    overflow:hidden ;
    width: 100%;
    height: fit-content;

}
.detailsBlogPost {
    color:var(--h1-text-color);
    display: flex;
    margin:10px 0px;
    justify-content: space-between;
}

.shareSection {
    display: flex;
}

.icon {
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #f2f2f2;
}