.wrapBlog{
    width: 100%;
}

.centerSection{
    color:var(--h1-text-color);
    margin: 0 auto;
    max-width: calc(100% - 5em);
    width: 70em;

}
.subContentContainer{
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}
/* LAST POST SECTION */

.lastPostSection{
    display: flex;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    border-radius: var(--border1);
    background-color: var(--box-color);
    box-shadow: var(--box-shadow2);
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.blogItemLastImage{
    max-width: 400px;
    width: 100%;
    border-radius: var(--border1);
    overflow: hidden;
}
.blogItemLastImage>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.blogItemLastText{
    color:var(--txt-default);
    width: 100%;
    max-width: 400px;
}
.blogItemLastText>h1{
    font-size: var(--h1-text-sizeL);
}
.buttton{
    background-color: var(--accent);
    border: none;
    border-radius: var(--border2);
    font-size: 16px;
    color: white;
    margin: 20px 0;
    padding: 5px 20px;
    width: 100%;
    text-align: center;
}
/* POSTS SECTION */

.postSection{
    padding: 20px;
    gap: 100px;
    border-radius: var(--border1);
    background-color: var(--bg-c1);
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.blogItem{
    width: 100%;
    max-width: 400px;
}
.blogItemImage{
    overflow: hidden;
    border-radius: var(--border1);
    max-width: 400px;
    width: 100%;
}
.blogItemImage>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.blogItemText{
    padding:0.5rem 1rem;
    color:var(--txt-default);
}
.blogphoto{
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
}
.blogphoto>div{
    height: 600px;
    background-color: red;
}
.blogphoto>img{
    border-radius: 10px;
    height: 100%;

    object-fit: contain;

}
@media (max-width: 768px) {
    .blogItemLastText>h1{
        font-size: var(--h1-text-sizeS);
    }
    .lastPostSection{
        gap: 10px;
        flex-direction: column;
    }
    .postSection{
        flex-wrap: wrap;
    }
}