.centerSection {
    margin: 0 auto;
    max-width: calc(100% - 5em);
    width: 50em;
}
.containerBlogPost{
    margin-top: 50px;
}
.imageBlogPost {
    border-radius: 10px;
    overflow:hidden ;
    width: 100%;
    height: fit-content;

}
.detailsBlogPost {
    display: flex;
    margin:10px 0px;
    justify-content: space-between;
}

.shareSection {
    display: flex;
}

.icon {
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #f2f2f2;
}