@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');



:root{
  --box-shadow:rgb(0 0 0 / 4%) 0px 8px 16px, rgb(0 0 0 / 8%) 0px 4px 8px;
  --SiteBackground:#ffff;
  --Accent:#6aa7e8;
  --bg-dark: #1c2128;
  --bg-white: #ffff;
  --txt-white:#ffff;
  --txt-dark:#15191d;
  --moon-color:#ffff;
}


.darkmode {
  
  --SiteBackground: var(--bg-dark);
  --moon-color: #f7ec87;
  --txt-default: var(--txt-white);

}
.lightmode {
  --SiteBackground: var(--bg-white);
  --moon-color: #ffff;
  --txt-default: var(--txt-dark);

}
.accent{
  color: var(--Accent);
}

*, :after, :before {
  box-sizing: border-box;
}


html,
body {
  font-family: 'Poppins', sans-serif;
  color:var(--txt-1c2128);
  padding: 0;
  background-color: var(--SiteBackground);
  margin: 0;
/* transition: background-color 500ms ease-in-out, color 800ms ease-in-out; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
main {
  flex: 1 0 auto;
}
body{
  display: flex;
  overflow-y: scroll;

  flex-direction: column;
    height: 100%;
}
.preo

.centerSection{

  margin:0 auto;
  max-width: calc(100% - 5em);
  width: 70em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
