@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
:root{
  --box-shadow:rgb(0 0 0 / 4%) 0px 8px 16px, rgb(0 0 0 / 8%) 0px 4px 8px;
  --SiteBackground:#ffff;
  --Accent:#6aa7e8;
  --bg-dark: #1c2128;
  --bg-white: #ffff;
  --txt-white:#ffff;
  --txt-dark:#15191d;
  --txt-grey:#646f79;
  --moon-color:#ffff;
  --bg-c1:#f6f8f9;
}


.darkmode {
  --SiteBackground: var(--bg-dark);
  --moon-color: #f7ec87;
  --bg-c1:var(--bg-dark);
  --txt-default: var(--txt-white);

}
.lightmode {
  --SiteBackground: var(--bg-white);
  --moon-color: #ffff;
  --bg-c1:#f6f8f9;
  --txt-default: var(--txt-dark);

}
.accent{
  color: var(--Accent);
}

*, :after, :before {
  box-sizing: border-box;
}

html,
body {
  color:var(--txt-1c2128);
  padding: 0;
  background-color: var(--SiteBackground);
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}
main {
  flex: 1 0 auto;
  justify-content: center;
    height: 100%;
    display: flex;
}
body{
  display: flex;
  overflow-y: scroll;

  flex-direction: column;
    height: 100%;
}
.preo

.centerSection{

  margin:0 auto;
  max-width: calc(100% - 5em);
  width: 70em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
